<h1>Welcome {{ persona.nombres }} {{ persona.apellidos}}!</h1>

<p>
    Se ha creado satisfactoriamente tu cuenta en nuestra plataforma.
</p>
<p>Correo registrado: <code>{{ persona.email }}</code></p>